

div.stuff {
    position: relative;
    top: 25px;
    left: 15%;
    width: 65%;
    border: 3px solid #aa0003;
    padding: 50px;
    background-color: #222222;
}

div.stuff2 {
    position: relative;
    top: 55px;
    left: 15%;
    width: 65%;
    border: 3px solid #aa0003;
    padding: 50px;
    background-color: #222222;
}

td th {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}

td {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}

th {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}

.stuff.logo {
    height: 42px;
    width: 42px;
}

.plate {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 50%;*/
    margin: auto;

    /*width:250em;*/
    /*height:250em;*/
    border: 1px solid #ccc;
    background-color: rgba(48, 49, 51, 0.5);
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-image: url(codewars_flag.png);*/
    /*background-attachment: fixed;*/
}

#label {
    position: relative;
    /*left: 50px;*/

}

#textfield {
    position: relative;
    /*left: 50px;*/
    width: 250px;
    height: 80px;
    font-size: 2em;
    margin: auto;
}

#days {
    position: relative;
    /*left: 50px;*/
    width: 250px;
    height: 80px;
    font-size: 2em;
    margin: auto;
}

#codewars_button {
    background: none;
    position: relative;
    margin: auto;
    left: 50px;
    width: 250px;
    height: 96px;
}

form {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 50%;*/
}

#firstButton {
    position: relative;
    border: 3px solid #aa0003;
    padding: 25px;
    width: fit-content;
}

#secondButton {
    position: relative;
    top: 50px;
    border: 3px solid #aa0003;
    padding: 25px;
    width: fit-content;
}