div.stuff {
    position: absolute;
    top: 25px;
    left: 30px;
    border: 3px solid #73AD21;
    padding: 50px;
    background-color: #222222;
}

body {
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiWvODtqM_cAhVMIMUKHSeWDGQQjRx6BAgBEAU&url=http%3A%2F%2Fwww.oldbasingkarate.com%2FRESOURCES%2Fresources.html&psig=AOvVaw39Vmp-RLCAhdVkRwIBb9Bn&ust=1533331830946747");
}