

div.cont {
    position: relative;
    top: 40px;
    /*left: 15%;*/
    width: 100%;
    border: 3px solid #aa0003;
    padding: 35px;
    background-color: #222222;
}

.inpdemo {
    margin-top: 15px;
}

div.cont2 {
    position: relative;
    top: 65px;
    /*left: 15%;*/
    width: 100%;
    border: 3px solid #aa0003;
    padding: 35px;
    background-color: #222222;
}

div.cont3 {
    position: relative;
    border: 3px solid #aa0003;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 3%;
    background-color: #222222;
}

td th {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}

td {
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}

th {
    align-content: center;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
}


.plate {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #ccc;
    background-color: rgba(48, 49, 51, 0.5);
}

.textfield {
    display: inline-block;
    position: relative;
    float: left;
    right: -300px;
    width: 250px;
    height: 80px;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 3%;
}

#button-row {
    float: right;
    position: relative;
    right: 0;
    bottom: 0;
}

#codewars_button {
    background: white;
    position: relative;
    right: -160px;
    width: 265px;
    height: 95px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

label {
    display: inline-block;
}

.row:after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    display: inline-block;
    margin-top: 6px;
}

.bold {
    font-weight: bold;
    font-size: 1.2em;
}


