<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Balázs\'s Codewars info.'">Default title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="basic.css"/>
</head>
<body>
<div class="col-md-3"><span><h1>Mentor</h1></span></div>
<div class="col-md-6">
    <img src="codecool_symbol_flat.png" hight="200" width="200"/>
</div>
<div class="col-md-3"><span><h1>Aid</h1></span></div>



<div class="col-md-3">3-as</div>
<div class="col-md-6">6-os
    <!--<div class="plate">-->
        <form th:action="@{/getAPI}" th:object="${codewarsUser}" method="post">
            <div id="label">
                <h1><label for="codewars_user">Provide Codewars username:</label></h1>
            </div>
            <div id="textfield">
                <input type="text" id="codewars_user" name="codewars_user" placeholder="Codewars username" required="true"/>
            </div>
            <div id="days">
                <input type="date" id="numberOfDays" name="numberOfDays" placeholder="Days" required="true"/>
            </div>
            <div id="codewars_button">
                <button type="submit"><img src="codewars_button.jpeg"/></button>
            </div>
        </form>
        <h1 th:text="${errormsg}"></h1>
    <!--</div>-->
</div>
<div class="col-md-3">3-as</div>
</body>
</html>